__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
pip-wheel-metadata/
*.egg-info/
*.egg
dist/
build/
.env
.env.*
.venv/
venv/
env/
.vscode/
.idea/
.DS_Store
Thumbs.db
Desktop.ini
*.log
node_modules/
.python-version
./src/pyproject.toml
./src/poetry.lock
./src/templates/
app/static/