fastapi
uvicorn
python-dotenv
python-multipart

langchain
langchain-text-splitters
langchain-openai
langchain-community

tortoise-orm
aiomysql
aerich
pypika-tortoise==0.2.2

chromadb
faiss-cpu
tiktoken

passlib
python-jose
dashscope
duckduckgo-search
bcrypt==5.0.0
